@{
    ViewBag.Title = "CreateRole";
}

<h2>CreateRole</h2>

@using(Html.BeginForm())
{
    <label> Role Name</label> <br/>
    <input type="text" name="roleName"/>
    <br/>
    <input type="submit" value="Add"/> 
}

@using (Html.BeginForm("AddUserRole", "Account"))
{
    <label>Username</label> <br />
    <input type="text" name="username" />
    <br />
    <input type="submit" value="Add" />
}

