@model TourGuideWebsite.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h1>Log In</h1>
@using(Html.BeginForm())
{ 
    @Html.EditorForModel()
    <p><input type="submit" name="login" value="Log in"/></p>
    <!-- Add client-side validation -->   
}
<input type="button" value="Sign up" onclick="gotoRegistration()" />
<script type="text/javascript">
    function gotoRegistration() {
        window.location.href = '../../Home/Registration';
    }
</script>



